{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-bordered">
        <tr>
            <th>URL</th>
            <th>Тело запроса</th>
            <th>Заголовки запроса</th>
            <th>Тело ответа</th>
            <th>Заголовки ответа</th>
            <th>HTTP статус ответа</th>
            <th>IP клиента</th>
            <th>время и дата</th>
        </tr>
        {# @var App\Entity\HttpLog httpLog #}
        {% for httpLog in httpLogs %}
            <tr>
                <td>{{ httpLog.requestUrl }}</td>
                <td>{{ httpLog.requestBody }}</td>
                <td>{{ httpLog.requestHeaders|json_encode(constant('JSON_PRETTY_PRINT')) }}</td>
                <td>{{ httpLog.responseBody }}</td>
                <td>{{ httpLog.responseHeaders|json_encode(constant('JSON_PRETTY_PRINT')) }}</td>
                <td>{{ httpLog.httpCode }}</td>
                <td>{{ httpLog.clientIp }}</td>
                <td>{{ httpLog.createdAt.format('d.m.Y H:i:s') }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}